
.MainMap {
    position:relative;
    top: 100px;
    left: 50px;
    height: 500px;
    width:1500px;

}
.div {
    width: 500;
    height: 500
}
#map {
    width: 960px;
    height: 500px;
  }
.voteShower {
    position: relative;
    left:400px;
    height: 50px;
    width: 50px;
}
.leaflet-container {
    position: relative;
    top: 0px;
    z-index: 0;
}
.sillyGoose {
    position: absolute;
    z-index: 3;
    left: 200px !important;
    top: opx !important;
    height: 31px !important; 
    width: 33px !important; 
    cursor: pointer; 
    border: none; 
  
}  